/* HEADER ROW */
body {
    background-color: #EDC7B7;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: transparent;
    flex-wrap: wrap;
    z-index: 10;
}

.logo {
    width: 280px;
    height: auto;
}

h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 600;
    color: #123C69;
    margin: 0.5rem 0.5rem;
    flex: 1 1 auto;
    text-align: center;
}

.dropdown-toggle {
    width: 170px;
    height: auto;
    background-color: #123c69;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 4rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #f3e6e1;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    width: 170px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    z-index: 999;
}

.dropdown-menu.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu button {
    background-color: #123c69;
    color: #f3e6e1;
    border: none;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 12px;
    width: 90%;
    cursor: pointer;
}

.dropdown-menu a {
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    color: #123c69;
    padding: 10px;
    display: block;
    font-weight: bold;
}

.dropdown-menu hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.dropdown-menu a:hover {
    background-color: #f0d4c2;
}

/* FOOTER ROW */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    gap: 0.8rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    display: block;
    transition: transform 0.2s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.copyright {
    font-size: 0.9rem;
    color: #877777;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .dropdown-toggle {
        margin-top: 0.5rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.8rem;
    }
    .logo {
        width: 80px;
    }
    .footer {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}